.max-w-md.mx-auto.py-10.px-6
  %h2.text-4xl.font-bold.mb-4
    Edit profile
  = form_for(current_user) do |f|
    .form-field
      = f.label :name
      = f.text_field :name, class: "text-field"
    .form_field
      .relative.avatar.avatar--jumbo
        = image_tag current_user.avatar.attached? ? url_for(current_user.avatar) : '', id: "avatar-img", class: "object-cover avatar avatar--jumbo absolute inset-0 #{current_user.avatar.attached? ? "" : "opacity-0"}"
        = f.file_field :avatar, id: "avatar", class: "absolute inset-0 avatar avatar--jumbo opacity-0 cursor-pointer"

    .form-field
      = f.label :description
      = f.text_area :description, class: "text-field"

    .form-field
      = f.label :studies_and_experience
      = f.text_area :studies_and_experience, class: "text-field"

    .form-field
      = f.label :birth_date
      = f.text_field :birth_date, class: "text-field"

    .form-field
      = f.label :phone
      = f.text_field :phone, class: "text-field"

    .form-field
      = f.label :languages
      = f.text_field :languages, class: "text-field"

    .form-field
      = f.label :website
      = f.text_field :website, class: "text-field"

    .form-field
      = f.label :nickname
      = f.text_field :nickname, class: "text-field"
    
    .actions
      = f.submit "Update", class: 'btn btn-blue w-full'

-# %div.mb-10
-#   %a.btn.btn-blue{href: "https://app.reveniu.com/checkout-custom-link/rNGfpOshtX9VzLVFOZBWBuWk4HvTPGEu" }
-#     Pagar


:javascript
  (function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
          document.getElementById('avatar-img').setAttribute('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]); // convert to base64 string
      }
    }

    var avatarInput = document.getElementById('avatar');
    var image = document.getElementById('avatar-img');
    if (avatarInput) {
      avatarInput.addEventListener('change', function() {
        readURL(this, image);
        image.classList.remove('opacity-0')
      });
    }
  })();
