<div class="max-w-md mx-auto py-10 px-6">
  <%= link_to course_path(@course), class: "text-gray-600 mb-5 inline-block" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600 mr-1 inline-block align-text-top" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
    </svg>
    <span> 
      <%= "Back to #{@course.name}" %>
    </span>
  <%end%>
  <h2 class="text-4xl font-bold mb-4">Create user for this course</h2>

  <%= form_with(url: course_users_path, model: @user) do |f| %>

    <div class="form-field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "text-field" %>
    </div>

    <div class="form-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "text-field" %>
    </div>

    <div class="actions form-field">
      <%= f.submit "Create", class: 'btn btn-blue' %>
    </div>
  <% end %>
</div>
