<div class="max-w-md mx-auto py-10 px-6">
  <h2 class="text-4xl font-bold mb-4">Create user for this course</h2>

  <%= form_with(url: course_users_path, model: @user) do |f| %>

    <div class="form-field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "text-field" %>
    </div>

    <div class="form-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "text-field" %>
    </div>

    <div class="actions form-field">
      <%= f.submit "Create", class: 'btn btn-blue' %>
    </div>
  <% end %>
</div>
