-# - content_for :packs do
-#   = javascript_pack_tag 'create_course', 'data-turbolinks-track': 'reload'
-# #create-course

= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.size, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .form-field
    = f.label "Course name"
    .field
      = f.text_field :name, class: "text-field"
  
  .form-field
    .select-container
      = f.select(:category_id, options_for_select(Category.all.map{ |c| [c.name.titleize, c.id] }, { selected: @course.category_id }))

  .form-field
    = f.label :description
    .field
      = f.text_area :description, class: "text-field"
  
  .form-field
    = f.label :primary_objectives
    .field
      = f.text_area :primary_objectives, class: "text-field"

  .form-field
    = f.submit 'Save course', class: "btn-blue btn"



.my-10.py-10.text-md 
  = link_to course_path(@course), method: :delete, class: 'text-red' do
    Delete course

