%nav.flex.items-center.justify-between.flex-wrap.py-5.px-6.border-b.border-gray-100.fixed.top-0.left-0.right-0
  .flex.items-center.flex-shrink-0.mr-6.content-between
    .text-3xl.font-bold
      = link_to root_path, class: 'text-black' do
        = image_tag "muteach-logo.svg", width: 150
  .flex.items-center
    - if user_signed_in?
      = link_to edit_user_registration_path do
        .rounded-full.flex.items-center.justify-center.bg-cover.w-8.h-8.border.border-gray-100{style: "background-image: url('#{image_path('user.svg')}')"}
      %button.text-2xl.ml-4.mt-2
        🔔
    - else
      = link_to t('log_in'), new_user_session_path, class: 'ml-4'
      = link_to t('sign_up'), new_user_registration_path, class: 'ml-4'
