%nav.z-40.flex.items-center.justify-between.flex-wrap.py-5.px-6.border-b.border-gray-200.fixed.top-0.left-0.right-0.bg-white
  .flex.items-center.flex-shrink-0.mr-6.content-between
    .text-3xl.font-bold
      = link_to root_path, class: 'text-black' do
        = image_tag "muteach-logo.svg", width: 150
  .flex.items-center
    - if user_signed_in?
      -# = button_to "Logout", destroy_user_session_path, method: :delete, class: "mr-4 bg-transparent text-blue-700 cursor-pointer"
      = link_to edit_user_path(current_user), class: 'flex items-center black' do

        .font-bold.text-gray-600.mr-2.text-sm
          = current_user.name || current_user.email_local_part
        .avatar{ style: current_user.avatar.attached? ? "background-image: url('#{url_for(current_user.avatar)}')" : nil }
          = current_user.name_first_letter unless current_user.avatar.attached?
        
    - else
      = link_to t('log_in'), new_user_session_path, class: 'ml-5 font-bold'
      - if Rails.env.development?
        = link_to t('sign_up'), new_user_registration_path, class: 'ml-5 font-bold'
