<!DOCTYPE html>
<html>
  <head>
    <title>Muteach</title>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :packs if content_for?(:packs) %>
  </head>

  <body class="pt-20 bg-white">
    <%= render 'layouts/header' %>
    <% flash.each do |type, msg| %>
      <div class="js-flash-msg text-center font-semibold text-lg text-white py-4 <%= type.to_s == 'alert' ? 'bg-red-600' : 'bg-green-600' %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
