<!DOCTYPE html>
<html>
  <head>
    <title>Muteach</title>
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width"
    />
    <%= csp_meta_tag %>
    <link rel="SHORTCUT ICON" href=<%=image_path("favicon.png")%>>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :packs if content_for?(:packs) %>
  </head>

  <body class="pt-20 bg-white">
    <%= render 'layouts/header' %>
    <% flash.each do |type, msg| %>
      <div style="left: 50%; width: 300px; margin-left: -150px; top: 50px" class="js-flash-msg z-50 text-center font-semibold text-lg bg-white py-4 px-6 shadow-xl text-green-600 border-green-200 fixed border left-1/2 rounded-lg <%= type.to_s == 'alert' ? 'text-red-600 border-red-200' : 'text-green-600 border-green-200' %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
